
.admin-tdd{

    text-align: center;
    padding: 5px;
    font-weight: 550;

  }

  
  .admin-mask{
    background-color: rgba(0, 0, 0, 0.715);
    padding-top: 25vh;
  }


  .admin-button-row{
    display: flex;
  justify-content: center;
    gap: 20px;
  }


  .admin-body{

background: url('https://i.postimg.cc/SRbN0Qxs/bg.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;

background-attachment: fixed;
color: black;

  }

  .admin-th {
    background-color: rgba(13, 5, 59, 0.37);
    border: 1.5px solid rgb(3, 107, 107);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    /* height: 30px; */
    width: fit-content;
  }

  /* #row456{
background-color: chartreuse;
height: 20px;
  } */

  
  .table-container {
    padding-left: 30px;
    padding-right: 30px;

  }
  
  .admin-input {
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: 700;
    color: rgb(155, 10, 10);
  }


  #slots{

    height: 30px;
    color: red;
  }
  
  .input-table, .numerinput {
    width: 80%;
    max-width: 100%;
  }
  
  .admin-h3 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 6px rgb(0, 0, 0);
    margin-bottom: 2rem;
    margin-top: 1.7rem;
  }
  
  .admin-h3:hover {
    opacity: 0;
    transition: 0.6s ease;
  }
  
  :root {
    --bg-offset-x: 0px; /* Adjust horizontal offset */
    --bg-offset-y: 15%; /* Adjust vertical offset */
  }
  
  .ad-form {
    background-color: rgba(11, 232, 118, 0.19); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border-radius: 10px; /* Adjust as needed */
    background-image: url('/static/bg.jfif');
    background-position: calc(40% + var(--bg-offset-x)) calc(47% + var(--bg-offset-y));
    background-repeat: no-repeat;
    background-size: cover;  
    box-shadow: 0 5px 8px rgba(128, 3, 3, 0.5); /* Optional: add shadow for better visibility */
    width: 90%;
    padding-bottom: 30px;
    border-radius: 10px;
    width: max-content;
  }
  
  .Logout {
    position: relative;
    top: 40px;
    width: fit-content;
    background: linear-gradient(to bottom, #0598f7, #4d26b8);
    padding: 20px;
    border-radius: 60px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #0598f7;
    outline: 3px solid #28292d;
    transition: all .3s ease-in-out;
    text-decoration: none;
    zoom: 80%;
  }
  
  .Logout:hover {
    outline: 3px solid #28292d;
    outline-offset: -6px;
    letter-spacing: .05em;
  }
  
  .btn-lg {
    transition: transform 0.5s ease;
  }
  
  .btn-lg:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .tableinput-ad {
    flex-direction: row;
    width: 500px;
    margin: auto;
    transition: transform 0.5s ease;
  }
  
@media(max-width:768px){

  .tableinput-ad{
    width: auto;
  }


  .ad-form{

    background-color: rgba(11, 232, 118, 0.19); 
      border-radius: 10px; /* Adjust as needed */
    
      /* margin-top: 60px; */
      background-image: url('/static/bg.jfif');
      background-position: calc(25% + var(--bg-offset-x)) calc(45% + var(--bg-offset-y));
      background-repeat: no-repeat;
      background-size: cover;   
    
      box-shadow: 0 5px 8px rgba(128, 3, 3, 0.5); /* Optional: add shadow for better visibility */
     width:90%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    /* width:600px ; */
    /* transition: transform  0.5s ease; */
    }
    
}


@media(max-width:710px){
.ad-form{

  width: 400px;
  
}
.admin-input{

  width: 90px;
  height: 35px;
}

#slots{
  width: 90px;
  height: 35px;
}

.ad-form{

  background-color: rgba(11, 232, 118, 0.19); 
   
      border-radius: 10px; /* Adjust as needed */
    
      /* margin-top: 60px; */
      background-image: url('/static/bg.jfif');
      background-position: calc(25% + var(--bg-offset-x)) calc(60% + var(--bg-offset-y));
      background-repeat: no-repeat;
      background-size: cover;   
    
      box-shadow: 0 5px 8px rgba(128, 3, 3, 0.5); /* Optional: add shadow for better visibility */
     width:90%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    /* width:600px ; */
    /* transition: transform  0.5s ease; */
    }
.btn-lg{
zoom:75%;

}

    }
    



    .admin-log{
      text-decoration: none;
      color: rgb(255, 255, 255);
      
    }
  
  
    .admin-log:hover{
      text-decoration: none;
   color: rgb(255, 255, 255);
    }
  
  
    @media(max-width:570px){
      .numerinput-ad{
        zoom: 80%;
      }
  .table-container{
  
  zoom: 100%;
  width: min-content;
  }

  .Logout{
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
  }
  .admin-th {
    background-color: rgba(13, 5, 59, 0.37);
    border: 1px solid rgb(3, 107, 107);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    width: fit-content;
  }

  
    }
  
 

    @media(max-width:490px){
      .numerinput-ad{
        zoom: 90%;
      }
  .table-container{
  
  zoom: 90%;
  width: min-content;

  }

  .numerinput{
    border-collapse: collapse;

 
  }

  .admin-th {
    background-color: rgba(13, 5, 59, 0.37);
    border: 1px solid rgb(3, 107, 107);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    width: fit-content;
  }



    }


    @media(max-width:410px){
      .numerinput-ad{
        zoom: 90%;
      }
  .table-container{
  
  zoom: 85%;
 
  
  }
  .admin-th {
  zoom: 90%;
  }

 .ad-form{
  width:95%;
 }

 /* .table-container{


} */



      }
    












/* </style> */