
html::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #000;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #fff53c;
  }
  
/* Apply smooth scrolling to the entire page */
html {
  scroll-behavior: smooth;
}

/* <style> */


.center { 
    display: flex; 
    justify-content: center;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

/* button { 
    border-radius: 0;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
}  */

[type="button"],button { 
    -webkit-appearance: button;
} 

.btn-s { 
    display: inline-block; 
    margin-bottom: 3rem;
    font-weight: 400; 
    color: #212529; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.btn-success { 
    color: #fff; 
    background-color: #28a745; 
    border-color: #28a745;
} 


[type="button"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.btn-s:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn-s:hover { 
    color: #212529; 
    text-decoration: none;
} 

.btn-success:hover { 
    color: #fff; 
    background-color: #218838; 
    border-color: #1e7e34;
} 

.btn-info { 
    color: #fff; 
    background-color: #17a2b8; 
    border-color: #17a2b8;
} 

.btn-info:hover { 
    color: #fff; 
    background-color: #138496; 
    border-color: #117a8b;
} 

.btn-primary { 
    color: #fff; 
    background-color: #007bff; 
    border-color: #007bff;
} 

.btn-primary:hover { 
    color: #fff; 
    background-color: #0069d9; 
    border-color: #0062cc;
} 

b { 
    font-weight: bolder;
} 

a { 
    color: #007bff; 
    text-decoration: none; 
    background-color: transparent;
} 

a:hover { 
    color: #0056b3; 
    text-decoration: underline;
} 

svg { 
    overflow: hidden; 
    vertical-align: middle;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-3T5QX.style-3T5QX {  
   display:flex;  
    gap:20px;  
}  
#style-nvQsD.style-nvQsD {  
   text-decoration:none;  
    color:white;  
}  
#style-BUyeP.style-BUyeP {  
   text-decoration:none;  
    color:white;  
}  

/* </style> */



/* <style> */
  
*,:after,:before { 
    box-sizing: border-box;
} 


.container-time-table { 
    width: 100%; 

margin-top: 10rem;

    /* background-color: chocolate; */
  
} 
   
.t-h2{
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.table { 
    width: 95%; 
      border-collapse: collapse;
    color: #ede900;

    justify-self:center;

} 

.in-tr { 
    border: 2px solid rgb(255, 247, 3); 
    padding: 8px; 
    text-align: center;
} 

.in-tr:hover { 
    background-color: rgba(161, 159, 159, 0.501);
} 

.in-td { 
    border: 2px solid rgb(255, 247, 3); 
    padding: 8px; 
    text-align: center;
} 

.table td  { 
    padding: .75rem; 
    vertical-align: top; 
    border-top: 1px solid #ff0000;
} 

b { 
    font-weight: bolder;
} 

.fas { 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased; 
    display: inline-block; 
    font-style: normal; 
    font-variant: normal; 
    text-rendering: auto; 
    line-height: 1;
} 

.fas { 
    font-family: "Font Awesome 5 Free";
} 

.fas { 
    font-weight: 900;
} 

.fa-clock:before { 
    content: "\f017";
} 



/* </style> */


