<!--=============== REMIXICONS ===============-->

{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}





<div class="section">
  <div class="video-visual">

  </div>
  <div class="section-wrapper">
    <div class="content-wrapper">
      <div class="content content-1">
        <div class="mobile-visual">
          <img class="card-img" src="/static/css/logo-removebg-preview.png"
            alt="Fantasy warrior  - Video game character" />
        </div>
        <div class="meta">
          <h1 class="headline" style="text-align: center;">
            Welcome to<span class="text-highlight"> Dear Casino</span>
          </h1>
          <p class="desc">
            Our platform is designed for both new and experienced players, offering a seamless and secure gaming
            experience
          </p>
        </div>
      </div>
      <div class="content content-2">
        <div class="mobile-visual">
          <img class="card-img" src="/static/css/about.png" alt="Green haired ninja in armor - Video game character" />
        </div>
        <div class="meta">
          <h1 class="headline" style="text-align: center;">
            Embark on Your
            <span class="text-highlight">Legendary Journey</span>
          </h1>
          <p class="desc">
            Immerse Yourself in a World Where Legends Clash and Heroes Rise
            to Glory.
          </p>
        </div>
      </div>
      <div class="content content-3">
        <div class="mobile-visual">
          <img class="card-img" src="/static/css/about2.png" alt="Female warrior in armor - Video game character" />
        </div>
        <div class="meta">
          <h1 class="headline" style="text-align: center;">
            Master the
            <span class="text-highlight">Art of Magic</span>
          </h1>
          <p class="desc">
            Harness powerful spells and enchantments to dominate your foes
            and change the course of battle.
          </p>
        </div>
      </div>
      <div class="content content-4">
        <div class="mobile-visual">
          <img class="card-img" src="/static/css/about3.png" alt="Agile warrior - Video game character" />
        </div>
        <div class="meta">
          <h1 class="headline" style="text-align: center;">
            Rise as the <span class="text-highlight">Champion</span>
          </h1>
          <p class="desc">
            Lead your team to victory with unparalleled strength and
            unwavering determination.
          </p>
        </div>
      </div>

    </div>
    <div class="visual">
      <div class="card-wrapper">
        <div class="card card-1">
          <img class="card-img" src="/static/css/logo-removebg-preview.png"
            alt="Fantasy warrior  - Video game character" />
        </div>
        <div class="card card-2">
          <img class="card-img" src="/static/css/about.png" alt="Green haired ninja in armor - Video game character" />
        </div>
        <div class="card card-3">
          <img class="card-img" src="/static/css/about2.png" alt="Female warrior in armor - Video game character" />
        </div>
        <div class="card card-4">
          <img class="card-img" src="/static/css/about3.png" alt="Agile warrior - Video game character" />
        </div>
      </div>
    </div>
  </div>
</div>








{% endblock body %}