{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}

<body>





    <!--BANNER-->



    </head>

    <body>
        <div class="banner">
            <div class="banner-1">
                <section>
                    <h3>Welcome To <em>Dear</em> Casino</h3>
                    <h1 class="title">We prioritize user satisfaction</h1>
                </section>
                <section class="form-section">
                    <div class="contact-container">
                        <h1>Contact Us</h1>
                        <form class="contact-form">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" required>
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required>
                            </div>

                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea id="message" name="message" rows="3" required></textarea>
                            </div>




                            <button type="button" class="submit-btn"><a
                                    href="?subject=Contact%20Form&body=Hello,%20I%20would%20like%20to%20connect."
                                    style="text-decoration:none; color: white;">Send Message</a></button>


                        </form>
                    </div>
                </section>
            </div>
        </div>

        <!-- SECTION1 -->
        <div class="section1">
            <div class="title_header">
                <section>
                    <h1 class="choose-us">Why People Choose Us?</h1>
                </section>
                <section style="color: rgb(255, 255, 255);">
                    <p class="choose-us-p">
                        Our platform is designed for both new and experienced players, offering a seamless and secure
                        gaming experience. We prioritize user satisfaction, ensuring that every interaction is smooth
                        and enjoyable. With a wide range of games and features, we cater to all preferences, making us
                        the top choice for online gaming enthusiasts.
                    </p>
                </section>
            </div>
        </div>

    </body>

    {% endblock body %}