

{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}


<div class="login-body">

<div class="container-login-1">




  <form  autocomplete="off" class="form-login"action="/admin_auth" method="post">
      <h2 class="h2-login">Sign In</h2>
      <div class="uc"><b>Dear Fatafat</b></div>


      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
  <div style=" background-color: #ffcc00; 

  color: #663300; 

  text-align: center;
  margin-top: 40px;
  border-radius: 10px; 
  padding: 10px;
  margin-bottom: -20px;
  font-family: Arial, sans-serif; ">
    <h5 style="color: rgb(255, 0, 0); text-align: center;">{{ message }}</h5>
  </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
  

      <div class="inputBox-login">
          <input type="text" id="user" required>
          <label for="username">Username</label>
      </div>

      
      <div class="inputBox-login">
          <input type="password" id="pass" required name="password">
          <label for="username">Enter Password</label>
      </div>

      <input type="submit" value="Login">
      <div class="link-container">
          <a href="#">Forgot Password?</a> 
      </div>
     
  </form>
</div>


</div>















{% endblock body %}
