

{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}

<!-- <body class="login-body"> -->

<!-- <div class="login-div"> -->
  

 <!-- <center>

  {% with messages = get_flashed_messages() %}
  		  {% if messages %}
			    {% for message in messages %}
          <div style=" background-color: #ffcc00; 
          border: 1px solid #ff9900; 
          color: #663300; 
          /* padding: 15px; */
          text-align: center;
          margin-top: 20px;
          border-radius: 10px; 
          font-family: Arial, sans-serif; ">
            <h5 style="color: rgb(255, 0, 0); text-align: center; padding-top: 5px; text-shadow: 1px 1px 1px black;">{{ message }}</h5>
          </div>
			    {% endfor %}
  		  {% endif %}
	    {% endwith %}
      


<div class="container-login">

  <div class="login-box">
    <h2 class="h2-login">Login</h2>
    <form action="/admin_auth" method="post">
       <div class="input-box">
       
            <input type="email" required>
        <label class="label-login">User name <i class="fas fa-envelope i-color"></i></label>
        
      </div> -->
      <!-- <div class="input-box"> -->
        <!-- Example of using email icon from Font Awesome -->


        <!-- <input type="password" name="password" required>
        <label class="label-login">Password <i class="fas fa-eye i-color"></i></label>
         -->
        <!-- Example of using email icon from Font Awesome -->
      <!-- </div>
   
      <button type="submit" class="btn-login">Login</button>
   
    </form>
    
  </div>
 

  <span style="--i:0;"></span>
  <span style="--i:1;"></span>
  <span style="--i:2;"></span>
  <span style="--i:3;"></span>
  <span style="--i:4;"></span>
  <span style="--i:5;"></span>
  <span style="--i:6;"></span>
  <span style="--i:7;"></span>
  <span style="--i:8;"></span>
  <span style="--i:9;"></span>
  <span style="--i:10;"></span>
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:13;"></span>
  <span style="--i:14;"></span>
  <span style="--i:15;"></span>
  <span style="--i:16;"></span>
  <span style="--i:17;"></span>
  <span style="--i:18;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:21;"></span>
  <span style="--i:22;"></span>
  <span style="--i:23;"></span>
  <span style="--i:24;"></span>
  <span style="--i:25;"></span>
  <span style="--i:26;"></span>
  <span style="--i:27;"></span>
  <span style="--i:28;"></span>
  <span style="--i:29;"></span>
  <span style="--i:30;"></span>
  <span style="--i:31;"></span>
  <span style="--i:32;"></span>
  <span style="--i:33;"></span>
  <span style="--i:34;"></span>
  <span style="--i:35;"></span>
  <span style="--i:36;"></span>
  <span style="--i:37;"></span>
  <span style="--i:38;"></span>
  <span style="--i:39;"></span>
  <span style="--i:40;"></span>
  <span style="--i:41;"></span>
  <span style="--i:42;"></span>
  <span style="--i:43;"></span>
  <span style="--i:44;"></span>
  <span style="--i:45;"></span>
  <span style="--i:46;"></span>
  <span style="--i:47;"></span>
  <span style="--i:48;"></span>
  <span style="--i:49;"></span>



</div>
<br><br><br>  <br><br><br>





</center> --> 
<!-- partial -->



<!-- </div> -->
















<div class="login-body">

<div class="container-login">




  <form  autocomplete="off" class="form-login"action="/admin_auth" method="post">
      <h2 class="h2-login">Sign In</h2>
      <div class="uc"><b>ULTRA CODE</b></div>


      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
  <div style=" background-color: #ffcc00; 

  color: #663300; 

  text-align: center;
  margin-top: 40px;
  border-radius: 10px; 
  padding: 10px;
  margin-bottom: -20px;
  font-family: Arial, sans-serif; ">
    <h5 style="color: rgb(255, 0, 0); text-align: center;">{{ message }}</h5>
  </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
  

      <div class="inputBox-login">
          <input type="text" id="user" required>
          <label for="username">Username</label>
      </div>

      
      <div class="inputBox-login">
          <input type="password" id="pass" required name="password">
          <label for="username">Enter Password</label>
      </div>

      <input type="submit" value="Login">
      <div class="link-container">
          <a href="#">Forgot Password?</a> 
      </div>
     
  </form>
</div>


</div>















{% endblock body %}
