{% extends 'layout.html' %}
{% block title %} About Us {% endblock title %}
{% block body %}





<div class="background-image">

    <div class="inner-background-image">

        <br><br>
        <div class="table-container">
            <table class="main-table">
                <tbody>
                    <tr style="padding: 0">
                        <td colspan="13" style="padding:0">

                        </td>
                    </tr>
                    <tr class="table-header">

                        <td class="time-head">11:00 am</td>
                        <td class="time-head">12:30 pm</td>
                        <td class="time-head">02:00 pm</td>
                        <td class="time-head">03:30 pm</td>
                        <td class="time-head">05:00 pm</td>
                        <td class="time-head">06:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                    </tr>

                    <!-- Sample Row -->

                    <h1><span class="main-table-spanGap-time">01-05-2025 Thurs</span></h1>
                    <tr>

                        <td><span class="main-table-spanGap">267</span><span class="main-table-spanGap">267</span></td>
                        <td><span class="main-table-spanGap">127</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">239</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">350</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">789</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">369</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">358</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                    </tr>



                    <!-- Add remaining rows the same way -->
                </tbody>
            </table>
            <br><br>
            <table class="main-table">
                <tbody>
                    <tr style="padding: 0">
                        <td colspan="13" style="padding:0">

                        </td>
                    </tr>
                    <tr class="table-header">

                        <td class="time-head">11:00 am</td>
                        <td class="time-head">12:30 pm</td>
                        <td class="time-head">02:00 pm</td>
                        <td class="time-head">03:30 pm</td>
                        <td class="time-head">05:00 pm</td>
                        <td class="time-head">06:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                    </tr>

                    <!-- Sample Row -->

                    <h1><span class="main-table-spanGap-time">01-05-2025 Thurs</span></h1>
                    <tr>

                        <td><span class="main-table-spanGap">267</span><span class="main-table-spanGap">267</span></td>
                        <td><span class="main-table-spanGap">127</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">239</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">350</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">789</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">369</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">358</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                    </tr>



                    <!-- Add remaining rows the same way -->
                </tbody>
            </table>
            <br><br>
            <table class="main-table">
                <tbody>
                    <tr style="padding: 0">
                        <td colspan="13" style="padding:0">

                        </td>
                    </tr>
                    <tr class="table-header">

                        <td class="time-head">11:00 am</td>
                        <td class="time-head">12:30 pm</td>
                        <td class="time-head">02:00 pm</td>
                        <td class="time-head">03:30 pm</td>
                        <td class="time-head">05:00 pm</td>
                        <td class="time-head">06:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                    </tr>

                    <!-- Sample Row -->

                    <h1><span class="main-table-spanGap-time">01-05-2025 Thurs</span></h1>
                    <tr>

                        <td><span class="main-table-spanGap">267</span><span class="main-table-spanGap">267</span></td>
                        <td><span class="main-table-spanGap">127</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">239</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">350</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">789</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">369</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">358</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                    </tr>



                    <!-- Add remaining rows the same way -->
                </tbody>
            </table>
            <br><br>
            <table class="main-table">
                <tbody>
                    <tr style="padding: 0">
                        <td colspan="13" style="padding:0">

                        </td>
                    </tr>
                    <tr class="table-header">

                        <td class="time-head">11:00 am</td>
                        <td class="time-head">12:30 pm</td>
                        <td class="time-head">02:00 pm</td>
                        <td class="time-head">03:30 pm</td>
                        <td class="time-head">05:00 pm</td>
                        <td class="time-head">06:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                        <td class="time-head">08:00 pm</td>
                        <td class="time-head">09:30 pm</td>
                    </tr>

                    <!-- Sample Row -->

                    <h1><span class="main-table-spanGap-time">01-05-2025 Thurs</span></h1>
                    <tr>

                        <td><span class="main-table-spanGap">267</span><span class="main-table-spanGap">267</span></td>
                        <td><span class="main-table-spanGap">127</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">239</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">350</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">789</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">369</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">358</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                        <td><span class="main-table-spanGap">567</span><span class="main-table-spanGap">127</span></td>
                    </tr>



                    <!-- Add remaining rows the same way -->
                </tbody>
            </table>
        </div>
        <br><br><br><br>
    </div>


</div>


{% endblock body %}