{% extends 'layout.html' %} 
{% block title %} {{title}} {% endblock title %} 
{% block body %}

<body style="background-color: black;">
    <br><br>

    <h2 style="background-color: rgb(210, 123, 10); text-shadow: 2px 2px 2px black;text-align: center;" id="GoaNight">GOA NIGHT</h2>
    <br>
    {% for night in night_results %}
      {% if night %}
      <br>
      <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
        <tbody>
    
      <h3 class="center t-h2 date">{{night.date}}</h3>
          <tr class="slot">
            <td>09:45 PM</td>
            <td>11:35 PM</td>
          </tr>
          
          <tr class="result">
            <td>{{night.open_3}}<br>{{night.open_1}}</td>
            <td>{{night.close_3}}<br>{{night.close_1}}</td>
          </tr>
        </tbody>
        </table>
      {% endif %}
    {% endfor %}

<br>

    <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
      <tbody>
  
    <h3 class="center t-h2 date">03-Oct-2024(Thu)</h3>
        <tr class="slot">
        <td>09:45 PM
        </td>
        <td>11:35 PM</td>
        
        </tr>
        
        <tr class="result">
        
        <td >
          <b>469</b>
         
          <br>
          <b>9</b>
          
          
        
          
        </td>
      
        <td >
          <b>469</b>
        <br>
          <b>9</b>
          
        
        </td>
        </tr>
      </tbody>
      </table>	
      <br>
  
      <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
        <tbody>
    
      <h3 class="center t-h2 date">02-Oct-2024(Wed)
    </h3>
        <tr class="slot">
          <td>09:45 PM
          </td>
          <td>11:35 PM</td>
          
        </tr>
        
        <tr class="result">
          
          <td >
            <b>348</b>
         
            <br>
            <b>5</b>
            
          
          
            
          </td>
        
          <td >
            <b>140</b>
          <br>
            <b>5</b>
            
          
          </td>
        </tr>
        </tbody>
      </table>	
      <br>
  
      <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
        <tbody>
    
      <h3 class="center t-h2 date">01-Oct-2024(Tue)
      </h3>
          <tr class="slot">
          <td>09:45 PM
          </td>
          <td>11:35 PM</td>
          
          </tr>
          
          <tr class="result">
          
          <td >
            <b>460</b>
           
            <br>
            <b>0</b>
            
            
          
            
          </td>
        
          <td >
            <b>380</b>
          <br>
            <b>1</b>
            
          
          </td>
          </tr>
        </tbody>
        </table>	
        <br>
  
        <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
          <tbody>
      
        <h3 class="center t-h2 date">30-Sep-2024(Mon)</h3>
          <tr class="slot">
            <td>09:45 PM
            </td>
            <td>11:35 PM</td>
            
          </tr>
          
          <tr class="result">
            
            <td >
              <b>267</b>
           
              <br>
              <b>5</b>
              
            
            
              
            </td>
          
            <td >
              <b>400</b>
            <br>
              <b>4</b>
              
            
            </td>
          </tr>
          </tbody>
        </table>	
        <br>
  
        <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
          <tbody>
      
        <h3 class="center t-h2 date">27-Sep-2024(Fri)</h3>
            <tr class="slot">
            <td>09:45 PM
            </td>
            <td>11:35 PM</td>
            
            </tr>
            
            <tr class="result">
            
            <td >
              <b>460</b>
             
              <br>
              <b>0</b>
              
              
            
              
            </td>
          
            <td >
              <b>257</b>
            <br>
              <b>4</b>
              
            
            </td>
            </tr>
          </tbody>
          </table>	
          <br>
  
          <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
            <tbody>
        
          <h3 class="center t-h2 date">26-Sep-2024(Thus)</h3>
            <tr class="slot">
              <td>09:45 PM
              </td>
              <td>11:35 PM</td>
              
            </tr>
            
            <tr class="result">
              
              <td >
                <b>160</b>
             
                <br>
                <b>7</b>
                
              
              
                
              </td>
            
              <td >
                <b>145</b>
              <br>
                <b>0</b>
                
              
              </td>
            </tr>
            </tbody>
          </table>	
    
  






	 
<br><br>

<h2 style="background-color: rgb(210, 123, 10); text-shadow: 2px 2px 2px black; text-align: center;" id="GoaMatka">GOA MATKA</h2><br>
{% for matka in matka_results %}
<br>
<h3 class="center t-h2 date">{{matka.date}}</h3>
<table class="tg" cellpadding="2" >
    <tbody>
      <tr class="slot">
        <td>10:00 AM</td>
        <td>11:00 AM</td>
        <td>12:00 PM</td>
        <td>01:00 PM</td>
        <td>02:00 PM</td>
        <td>03:00 PM</td>
        <td>04:00 PM</td>
        <td>05:00 PM</td>
        <td>06:00 PM</td>
        <td>07:00 PM</td>
      </tr>
      <tr class="result">
        <td>{% if matka.slot_1_1 %}{{matka.slot_1_3}}<br>{{matka.slot_1_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_2_1 %}{{matka.slot_2_3}}<br>{{matka.slot_2_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_3_1 %}{{matka.slot_3_3}}<br>{{matka.slot_3_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_4_1 %}{{matka.slot_4_3}}<br>{{matka.slot_4_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_5_1 %}{{matka.slot_5_3}}<br>{{matka.slot_5_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_6_1 %}{{matka.slot_6_3}}<br>{{matka.slot_6_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_7_1 %}{{matka.slot_7_3}}<br>{{matka.slot_7_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_8_1 %}{{matka.slot_8_3}}<br>{{matka.slot_8_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_9_1 %}{{matka.slot_9_3}}<br>{{matka.slot_9_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_10_1 %}{{matka.slot_10_3}}<br>{{matka.slot_10_1}}{% else %}***<br>*{% endif %}</td>
      </tr>
    </tbody>
  </table>
  
{% endfor %}  
<br>
<h3 class="center t-h2 date">03-Oct-2024(Thu)</h3>
<table class="tg" cellpadding="2" >
  <tbody>
  <tr class="slot">
    <td>10:00 AM</td>
    <td>11:00 AM</td>
    <td>12:00 PM</td>
    <td>01:00 PM</td>
    <td>02:00 PM</td>
    <td>03:00 PM</td>
    <td>04:00 PM</td>
    <td>05:00 PM</td>
    <td>06:00 PM</td>
    <td>07:00 PM</td>
  </tr>
  <tr class="result">
    <td >
    
      <b>235</b>
      <br>
      <b>0</b>
    
  
    </td>
    <td >
    
      <b>460</b>
      <br>
      <b>0</b>
  

  </td>
  <td >
    
    <b>899</b>
    <br>
    <b>6</b>


</td>
<td >
    
  <b>490</b>
  <br>
  <b>3</b>


</td>
<td >
    
<b>147</b>
<br>
<b>2</b>


</td>
<td >
    
<b>370</b>
<br>
<b>0</b>


</td>
<td >
    
<b>667</b>
<br>
<b>9</b>


</td>
<td >
    
<b>248</b>
<br>
<b>4</b>


</td>
<td >
    
<b>366</b>
<br>
<b>5</b>


</td>
<td >
    
<b>470</b>
<br>
<b>1</b>


</td>
  </tr>
  </tbody>
</table>
<br>
<h3 class="center t-h2 date">02-Oct-2024(Wed)</h3>
<table class="tg" cellpadding="2" >
  <tbody>
    <tr class="slot">
    <td>10:00 AM</td>
    <td>11:00 AM</td>
    <td>12:00 PM</td>
    <td>01:00 PM</td>
    <td>02:00 PM</td>
    <td>03:00 PM</td>
    <td>04:00 PM</td>
    <td>05:00 PM</td>
    <td>06:00 PM</td>
    <td>07:00 PM</td>
    </tr>
    <tr class="result">
    <td >
    
        <b>699</b>
        <br>
        <b>4</b>
    
  
    </td>
    <td >
    
      <b>138</b>
      <br>
      <b>2</b>
    
  
    </td>
    <td >
    
    <b>440</b>
    <br>
    <b>8</b>
  

  </td>
  <td >
    
  <b>457</b>
  <br>
  <b>6</b>


</td>
<td >
    
<b>223</b>
<br>
<b>7</b>


</td>
<td >
    
<b>569</b>
<br>
<b>0</b>


</td>
<td >
    
<b>115</b>
<br>
<b>7</b>


</td>
<td >
    
<b>148</b>
<br>
<b>3</b>


</td>
<td >
    
<b>277</b>
<br>
<b>6</b>


</td>
<td >
    
<b>577</b>
<br>
<b>9</b>


</td>
    </tr>
  </tbody>
  </table>
  <br>
  <h3 class="center t-h2 date">01-Oct-2024(Tue)</h3>
  <table class="tg" cellpadding="2" >
    <tbody>
    <tr class="slot">
      <td>10:00 AM</td>
      <td>11:00 AM</td>
      <td>12:00 PM</td>
      <td>01:00 PM</td>
      <td>02:00 PM</td>
      <td>03:00 PM</td>
      <td>04:00 PM</td>
      <td>05:00 PM</td>
      <td>06:00 PM</td>
      <td>07:00 PM</td>
    </tr>
    <tr class="result">
      <td >
      
        <b>336</b>
        <br>
        <b>2</b>
      
    
      </td>
      <td >
      
        <b>350</b>
        <br>
        <b>8</b>
    
  
    </td>
    <td >
      
      <b>360</b>
      <br>
      <b>9</b>
  

  </td>
  <td >
      
    <b>170</b>
    <br>
    <b>8</b>


</td>
<td >
      
  <b>445</b>
  <br>
  <b>3</b>


</td>
<td >
      
  <b>126</b>
  <br>
  <b>9</b>


</td>
<td >
      
  <b>256</b>
  <br>
  <b>3</b>


</td>
<td >
      
  <b>446</b>
  <br>
  <b>4</b>


</td>
<td >
      
  <b>479</b>
  <br>
  <b>0</b>


</td>
<td >
      
  <b>189</b>
  <br>
  <b>8</b>


</td>
    </tr>
    </tbody>
  </table>
  <br>
  <h3 class="center t-h2 date">30-Sep-2024(Mon)</h3>
  <table class="tg" cellpadding="2" >
    <tbody>
      <tr class="slot">
      <td>10:00 AM</td>
      <td>11:00 AM</td>
      <td>12:00 PM</td>
      <td>01:00 PM</td>
      <td>02:00 PM</td>
      <td>03:00 PM</td>
      <td>04:00 PM</td>
      <td>05:00 PM</td>
      <td>06:00 PM</td>
      <td>07:00 PM</td>
      </tr>
      <tr class="result">
      <td >
      
          <b>257</b>
          <br>
          <b>4</b>
      
    
      </td>
      <td >
      
        <b>367</b>
        <br>
        <b>6</b>
      
    
      </td>
      <td >
      
      <b>355</b>
      <br>
      <b>3</b>
    
  
    </td>
    <td >
      
    <b>149</b>
    <br>
    <b>4</b>
  

  </td>
  <td >
      
  <b>259</b>
  <br>
  <b>6</b>


</td>
<td >
      
  <b>889</b>
  <br>
  <b>5</b>


</td>
<td >
      
  <b>236</b>
  <br>
  <b>1</b>


</td>
<td >
      
  <b>269</b>
  <br>
  <b>7</b>


</td>
<td >
      
  <b>129</b>
  <br>
  <b>2</b>


</td>
<td >
      
  <b>133</b>
  <br>
  <b>7</b>


</td>
      </tr>
    </tbody>
    </table>
    <br>
    <h3 class="center t-h2 date">29-Sep-2024(Sun)</h3>
    <table class="tg" cellpadding="2" >
      <tbody>
      <tr class="slot">
        <td>10:00 AM</td>
        <td>11:00 AM</td>
        <td>12:00 PM</td>
        <td>01:00 PM</td>
        <td>02:00 PM</td>
        <td>03:00 PM</td>
        <td>04:00 PM</td>
        <td>05:00 PM</td>
        <td>06:00 PM</td>
        <td>07:00 PM</td>
      </tr>
      <tr class="result">
        <td >
        
          <b>169</b>
          <br>
          <b>6</b>
        
      
        </td>
        <td >
        
          <b>247</b>
          <br>
          <b>3</b>
      
    
      </td>
      <td >
        
        <b>356</b>
        <br>
        <b>4</b>
    
  
    </td>
    <td >
        
      <b>368</b>
      <br>
      <b>7</b>
  
  
  </td>
  <td >
        
    <b>247</b>
    <br>
    <b>3</b>
  
  
  </td>
  <td >
        
    <b>-</b>
    <br>
    <b>-</b>
  
  
  </td>
  <td >
        
    <b>-</b>
    <br>
    <b>-</b>
  
  
  </td>
  <td >
        
    <b>-</b>
    <br>
    <b>-</b>
  
  
  </td>
  <td >
        
    <b>-</b>
    <br>
    <b>-</b>
  
  
  </td>
  <td >
        
    <b>-</b>
    <br>
    <b>-</b>
  
  
  </td>
      </tr>
      </tbody>
    </table>
    <br>
    <h3 class="center t-h2 date">28-Sep-2024(Mon)</h3>
    <table class="tg" cellpadding="2" >
      <tbody>
        <tr class="slot">
        <td>10:00 AM</td>
        <td>11:00 AM</td>
        <td>12:00 PM</td>
        <td>01:00 PM</td>
        <td>02:00 PM</td>
        <td>03:00 PM</td>
        <td>04:00 PM</td>
        <td>05:00 PM</td>
        <td>06:00 PM</td>
        <td>07:00 PM</td>
        </tr>
        <tr class="result">
        <td >
        
            <b>260</b>
            <br>
            <b>8</b>
        
      
        </td>
        <td >
        
          <b>660</b>
          <br>
          <b>2</b>
        
      
        </td>
        <td >
        
        <b>390</b>
        <br>
        <b>2</b>
      
    
      </td>
      <td >
        
      <b>355</b>
      <br>
      <b>3</b>
    
  
    </td>
    <td >
        
    <b>570</b>
    <br>
    <b>2</b>
  
  
  </td>
  <td >
        
    <b>299</b>
    <br>
    <b>0</b>
  
  
  </td>
  <td >
        
    <b>129</b>
    <br>
    <b>2</b>
  
  
  </td>
  <td >
        
    <b>479</b>
    <br>
    <b>0</b>
  
  
  </td>
  <td >
        
    <b>247</b>
    <br>
    <b>3</b>
  
  
  </td>
  <td >
        
    <b>238</b>
    <br>
    <b>3</b>
  
  
  </td>
        </tr>
      </tbody>
      </table>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock body %}
