{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block body %}

<style>
  .card-form {
    width: 90%;
    margin: auto;
    padding: 2rem;
    margin-top: 4rem;
   background-image: url('/static/contest-bg.png');
   color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }

  .card-form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .card-form label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
  color: #fff;
  }

  .card-form input,
  .card-form select {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.2s;
  }

  .card-form input:focus,
  .card-form select:focus {
    border-color: #4caf50;
    outline: none;
  }

  .card-form button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .card-form button:hover {
    background-color: #43a047;
  }

  @media (max-width: 500px) {
    .card-form {
      padding: 1.5rem;
    }

    .card-form h2 {
      font-size: 1.25rem;
    }
  }



  .input-green {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid #4caf50;
  border-radius: 0.5rem;
  font-size: 1rem;
font-weight: 600;
  color: #019f36;
}

.input-red {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid #f44336;
  border-radius: 0.5rem;
  font-size: 1rem;
font-weight: 600;
  color: #ff0000;
}

</style>

<div class="container my-5" style="min-height: 60vh;">
  <form class="card-form" action="/update/marquee/{{marquee_to_update.id}}" method="POST">
    <h2>Editing Marquee Text - {{ status }}</h2>

    <label for="marquee_text">Marquee Text</label>
<input
  type="text"
  name="marquee_text"
  id="marquee_text"
  value="{{ marquee_to_update.content }}"
  required
  class="{% if status %}input-green{% else %}input-red{% endif %}"
/>


    <!-- <label for="marquee_status">Status</label> -->
    <select name="marquee_status" id="marquee_status" required>
      <option value="Enable" {% if status == True %} selected {% endif %}>Enable</option>
      <option value="Disable" {% if status == False %} selected {% endif %}>Disable</option>
    </select>

    <button type="submit">Update</button>
  </form>
</div>

{% endblock body %}
