{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}

<div class="container my-5" style="height: 60vh;">
    <h2>You Are Editing Marquee Text - {{status}}</h2>
    <form action="/update/marquee/{{marquee_to_update.id}}" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Marquee Text</label>
        <input type="text" class="form-control" name="marquee_text" id="marquee_text" value="{{marquee_to_update.content}}"
          aria-describedby="emailHelp" required>
      </div>
      <select name="marquee_status" id="slots" required class="admin-select">
            <option value="Enable" {% if status == True %} selected {% endif %}>Enable</option>
            <option value="Disable" {% if status == False %} selected {% endif %}>Disable</option>
          </select>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>

{% endblock body %}